@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #f8f8f8;

  height: 100%;
}


.titleFont {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}
.sub-title{
    font-family: "Poppins", serif;
    font-weight: 200;

}
.landing-home {
  height: 800px;
  margin-top: -10px;
}
.firstView {
  margin-top: -50px;
}

.dotted {
  --dot-bg: rgb(255, 255, 255);
  --dot-color: rgb(0, 0, 0);
  --dot-size: 1px;
  --dot-space: 22px;
  background: linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);

  background-attachment: fixed;
  background-position: center;
}
.maps{
    
    height: 450px;
    width: 600px;
}

.bg_service{
  background-image: url("image/services/bg.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover !important; 

  
}


.bg-news{
  background-image: url("images/newsbg.jpeg");
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-size: cover !important; 
  

}

.parent:nth-child(7) {
 visibility: hidden !important;
}

.parent .grid > div:nth-child(3) {
  visibility: hidden !important;
}
